<%- include('./layout/head') %> 
<%- include('./layout/navbar') %> 

<div class="container mt-2">
    <div class="row">
        <div class="col-md-12 mx-auto mt-5">

            <div class="card shadow">
                <div class="card-header text-white bg-primary">
                    <h3>Add New User
                        <a href="/" class="btn btn-light btn-sm float-end">Back</a>
                    </h3>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./layout/footer') %> 