<%- include('./layout/head') %> 
<%- include('./layout/navbar') %> 

<div class="container mt-2">
    <div class="row">
        <div class="col-md-12 mx-auto mt-5">

            <div class="card shadow">
                <div class="card-header">
                    <h3>Home
                        <a href="/add" class="btn btn-primary btn-sm float-end">Add User</a>
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">101</th>
                            <td>Image</td>
                            <td>Mark</td>
                            <td>mark@gmail.com</td>
                            <td>039520230</td>
                            <td>
                                <a href="#" class="text-success">Edit</a>
                                <a href="#" class="text-danger">Delete</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./layout/footer') %> 