<%- include('./layout/head') %> 
<%- include('./layout/navbar') %> 

<div class="container mt-2">
    <div class="card shadow">
        <div class="card-body">
            <div class="card-title">
                Homepage
                <div class="card-text">
                    วิทยาลัยเทคนิคตราด
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./layout/footer') %> 